@font-face {
    font-family: "irancell";
    src: url(../fonts/irancell.otf);
  }

@font-face {
    font-family: "lcg";
    src: url(../fonts/lcg.ttf);
  }

@font-face {
    font-family: "sovmod";
    src: url(../fonts/SovMod.ttf);
  }

@font-face {
    font-family: "emkan";
    src: url(../fonts/Emkan\ Regular\ .otf);
  }

@font-face {
    font-family: "kraftwied";
    src: url(../fonts/Kraftwied.otf);
  }


@font-face {
    font-family: "nickainley";
    src: url(../fonts/Nickainley-Normal.otf);
  }


@font-face {
    font-family: "puckipsy";
    src: url(../fonts/Puckipsy.ttf);
  }
  
@font-face {
    font-family: "Mustachio";
    src: url(../fonts/Mustachio.ttf);
  }

@font-face {
    font-family: "Adallyn";
    src: url(../fonts/Adallyn-regular.otf);
  }

@font-face {
    font-family: "Camelia";
    src: url(../fonts/Camelia.otf);
  }

@font-face {
    font-family: "Fontspring";
    src: url(../fonts/Fontspring-DEMO-gibeon-regularse.otf);
  }

@font-face {
    font-family: "North";
    src: url(../fonts/North\ Type\ -\ NTF-Grand\ Regular.otf);
  }

@font-face {
    font-family: "StencilStd";
    src: url(../fonts/StencilStd.otf);
  }
