html {
    direction: rtl;
    font-family: "vazir";
}

body {
    background-color: #fefae0;
}

.header {
    background: #d4a373;
}

.main-contetnt {

}

.footer {

}

.navbar {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.hamburger-line {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    background-color: #e9edc9;
    transition: 200ms ease;
}

.hidden {
    opacity: 0;
}

.rotate-left {
    transform: translateY(10px) rotate(-45deg);

}
.rotate-right {
    transform: translateY(-10px) rotate(45deg);
}

.navbar__logo {
    color: white;
    font-size: 1.4rem;
    font-family: "StencilStd";
}

.menu {
    font-family: "irancell";
    padding: 0 20px;
    background-color: #ccd5ae;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms ease;
   
}


.menu--open {
    max-height: 150px;
}



.menu__list {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu__list__item {
    /* font-size: 1.2rem;
    display: flex; */
}

.menu__list__item__link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu__list__item__link__text {
    display: block;
    width: 25%;

}

.hot-posts {

    background-color:#faedcd;
    margin: 20px 0;
    padding: 25px;
    font-weight: bold;

}

.hot-posts__title {
    margin: 10px 0;

}

.hot-posts__title__text {
    font-size: 1.2rem;
}

.hot-posts__list {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hot-posts__list__item {

    width: 90%;
    background-color: white;
    border-radius: 0 0 10px 10px;

}

.hot-posts__list__item__image {
    width: 100%;
    max-height: 200px;
}

.hot-posts__list__item__title {
    padding: 20px 10px;
    line-height: 1.6rem;
}
.hot-posts__list__item__description {

}

.hot-posts__list__item__footer {
    padding: 0 10px;
}

.hot-posts__list__item__footer__author {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid grey;
    padding: 10px;
}

.hot-posts__list__item__footer__author__image {
    width: 50px;
    border-radius: 50%;
}

.hot-posts__list__item__footer__author__name {
    font-size: 0.8rem;
    font-weight: normal;
}

.hot-posts__list__item__title__link {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.hot-posts__list__item__footer__tags {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 10px 0;

    }

.hot-posts__list__item__footer__tags__item {
    color: black;
    text-align: center;
    background-color: #ccd5ae;
    font-size: 0.6rem;
    font-weight: normal;
    width: 20%;
    padding: 10px 0px;
    border-radius: 5px;
}


.documents {
    background-color: #faedcd;
    margin: 20px 0;
    padding: 25px;
    font-weight: bold;
}

.documents__title {

}

.documents__title__text {

}

.documents__list {
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px 0;
}

.documents__list__item {
    background-color: white;
    width: 49%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.documents__list__item__title {
    text-align: center;
    padding: 10px 0px;
}

.documents__list__item__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 120px;
}

.documents__list__item__title__link {
color: #4d4d4d;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
}

.post-details {

}

.post-header {

    display: flex;
    gap: 15px;
    border-bottom: 1px dotted #292929;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.post-header__author__image {
    width: 60px;
    border-radius: 50%;
}

.post-header__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.post-header__box__author-name {

    font-size: 1rem;
}

.post-header__box__published-date {
    color: grey;
    font-size: 0.7rem;
}

.post-body {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.post-body__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;
}
.post-body__first-image-box {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 20px 0;
}

.post-body__first-image-box__caption {
    font-size: 0.7rem;
    color: grey;
}

.post-body__first-image {
    width:100%;
    border-radius: 20px;
}

.post-body__description {

}
.post-body__description__text {
    font-size: 1.2rem;
    color: #292929;
    line-height: 1.8;
}

.post-body__categories {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-body__categories-list__title {
    font-size: 1.2rem;
    color: red;
}

.post-body__categories-list {
    display: flex;
    gap: 10px;
}
.post-body__categories-list__item {
    color: #333333;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-weight: normal;
    font-size: 0.7rem;
}

.post-footer {
    display: flex;
}

.post-footer__right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.post-footer__right__like-box {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
}

.post-footer__right__like-box__like-icon {
    width: 40px;
    stroke: grey;
}

.post-footer__right__like-box__counter {

}

.post-footer__right__comment-box__comment-icon {
    width: 40px;
    stroke: grey;
}

.post-footer__right__comment-box__counter {

}

.post-footer__right__comment-box {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
}