@font-face {
    font-family: "irancell";
    src: url(../fonts/irancell.otf);
  }

html {
    direction: rtl;
    font-family: "irancell";
}

.header {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 14%, rgba(108,231,255,1) 72%);

}

.main-contetnt {

}

.footer {

}

.navbar {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.hamburger-line {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    background-color: #616161;
    transition: 200ms ease;
}

.hidden {
    opacity: 0;
}

.rotate-left {
    transform: translateY(10px) rotate(-45deg);

}
.rotate-right {
    transform: translateY(-10px) rotate(45deg);
}

.navbar__logo {
    font-size: 1.4rem;
}

.menu {
    padding: 0 18px;
    background-color: #f2f2f2;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms ease;
}


.menu--open {
    max-height: 150px;
}



.menu__list {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu__list__item {
    /* font-size: 1.2rem;
    display: flex; */
}

.menu__list__item__link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #315fcafc;
    padding: 10px;
}

.menu__list__item__link__text {
    display: block;
    width: 25%;

}